<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="col-md-3 float-left">
            <a routerLink="/order/VERAGUAS" class="btn btn-default btn-lg btn-block">VERAGUAS</a>
            <a routerLink="/chooseservice"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">Add order of service</button></a>
            <a routerLink="/order/VERAGUAS/1"><button mat-raised-button type="submit" class="btn btn-3 btn-lg btn-block">Send quotation</button></a>
            <a routerLink="/order/VERAGUAS/2"><button mat-raised-button type="submit" class="btn btn-4 btn-lg btn-block">Rejected order</button></a>
            <a routerLink="/order/VERAGUAS/3"><button mat-raised-button type="submit" class="btn btn-5 btn-lg btn-block">Acceptable order</button></a>
            <a routerLink="/order/VERAGUAS/4"><button mat-raised-button type="submit" class="btn btn-6 btn-lg btn-block">Finished invoice</button></a>
          </div>
          <div class="col-md-3 float-left">
            <a routerLink="/order/COCLE" class="btn btn-default btn-lg btn-block">COCLE</a>
            <a routerLink="/chooseservice"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">Add order of service</button></a>
            <a routerLink="/order/COCLE/1"><button mat-raised-button type="submit" class="btn btn-3 btn-lg btn-block">Send quotation</button></a>
            <a routerLink="/order/COCLE/2"><button mat-raised-button type="submit" class="btn btn-4 btn-lg btn-block">Rejected order</button></a>
            <a routerLink="/order/COCLE/3"><button mat-raised-button type="submit" class="btn btn-5 btn-lg btn-block">Acceptable order</button></a>
            <a routerLink="/order/COCLE/4"><button mat-raised-button type="submit" class="btn btn-6 btn-lg btn-block">Finished invoice</button></a>
          </div>
          <div class="col-md-3 float-left">
            <a routerLink="/order/AZUERO" class="btn btn-default btn-lg btn-block">AZUERO</a>
            <a routerLink="/chooseservice"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">Add order of service</button></a>
            <a routerLink="/order/AZUERO/1"><button mat-raised-button type="submit" class="btn btn-3 btn-lg btn-block">Send quotation</button></a>
            <a routerLink="/order/AZUERO/2"><button mat-raised-button type="submit" class="btn btn-4 btn-lg btn-block">Rejected order</button></a>
            <a routerLink="/order/AZUERO/3"><button mat-raised-button type="submit" class="btn btn-5 btn-lg btn-block">Acceptable order</button></a>
            <a routerLink="/order/AZUERO/4"><button mat-raised-button type="submit" class="btn btn-6 btn-lg btn-block">Finished invoice</button></a>
          </div>
          <div class="col-md-3 float-left">
            <a routerLink="/order/CHIRIQUI" class="btn btn-default btn-lg btn-block">CHIRIQUI</a>
            <a routerLink="/chooseservice"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">Add order of service</button></a>
            <a routerLink="/order/CHIRIQUI/1"><button mat-raised-button type="submit" class="btn btn-3 btn-lg btn-block">Send quotation</button></a>
            <a routerLink="/order/CHIRIQUI/2"><button mat-raised-button type="submit" class="btn btn-4 btn-lg btn-block">Rejected order</button></a>
            <a routerLink="/order/CHIRIQUI/3"><button mat-raised-button type="submit" class="btn btn-5 btn-lg btn-block">Acceptable order</button></a>
            <a routerLink="/order/CHIRIQUI/4"><button mat-raised-button type="submit" class="btn btn-6 btn-lg btn-block">Finished invoice</button></a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="col-md-4 offset-4">
            <button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">Inventory</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>