<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Choose governorate</h4>
          </div>
          <div class="card-body">
            <div class="col-md-6 offset-3">
              <a routerLink="/chooseservice/VERAGUAS"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">VERAGUAS</button></a>
            </div>
            <div class="col-md-6 offset-3">
              <a routerLink="/chooseservice/COCLE"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">COCLE</button></a>
            </div>
            <div class="col-md-6 offset-3">
              <a routerLink="/chooseservice/AZUERO"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">AZUERO</button></a>
            </div>
            <div class="col-md-6 offset-3">
              <a routerLink="/chooseservice/CHIRIQUI"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">CHIRIQUI</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>