<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">Choose service</h4>
          </div>
          <div class="card-body">
            <div class="col-md-6 offset-3">
              <a routerLink="/formorder-install/{{gov}}"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">INSTALLATION</button></a>
            </div>
            <div class="col-md-6 offset-3">
              <a routerLink="/formorder/{{gov}}"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">MAINTENANCE</button></a>
            </div>
            <div class="col-md-6 offset-3">
              <a routerLink="/formorder-repair/{{gov}}"><button mat-raised-button type="submit" class="btn btn-info btn-lg btn-block">REPAIR</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>